.submit {
    text-align: center;
}

.submit button {
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    padding: 0 32px;
    min-width: 194px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.already {
    padding: 10px 0;
    position: relative;
    text-align: center;
}

.already a {
    color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
}